<app-menu></app-menu>

<div class="content">
  <h1>User n°{{ user.id }}</h1>
</div>


<a routerLink="/createuser">New user</a>

<table class="user-table">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Actions</th> 
    </tr>
  </thead>
  <tbody>
    <td>{{ user?.firstname }}</td>
    <td>{{ user?.lastname }}</td>
    <td>
      <a routerLink="/updateuser/{{ user?.id }}">Edit</a>
      <button (click)="deleteUser(user.id)">Delete</button>
    </td>
  </tbody>
</table>

<a routerLink="/users">
  <button>All users</button>
</a>

<app-footer></app-footer>
