<div class="container">
  <app-menu></app-menu>
</div>

<div class="content h2">
  <h2>Liste des voyageurs en attente</h2>
</div>

<div class="center">
  <div class="btn">
    <a routerLink="/createuser">M'ajouter à la liste</a>
  </div>
</div>

<div class="user-container" *ngFor="let user of users;">
  <div class="user-card">
    <div class="user-info">
      <p><strong>Voyageur:</strong> {{ user.id }}</p>
      <p><strong>Prénom:</strong> {{ user.firstname }}</p>
      <p><strong>Nom:</strong> {{ user.lastname }}</p>
    </div>
    <div class="user-actions">
      <a routerLink="/users/{{ user.id }}" class="action-button"><i class="fa-solid fa-eye"></i></a>
      <a routerLink="/updateuser/{{ user.id }}" class="action-button"><i class="fa-solid fa-pen"></i></a>
      <button (click)="deleteUser(user.id)" class="action-button"><i class="fa-solid fa-trash"></i></button>
    </div>
  </div>
</div>


<app-footer></app-footer>
