.menu {
    background-color: #ff8000;
    padding: 10;
    display: flex;
    justify-content: space-between;

    .left-title {
        .brand-name {
            font-size: 1.5em;
            font-weight: bold;
            color: #ffffff;
            margin: 0;
            display: block;
        }
    }

    .right-links {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
        }

        li {
            margin-left: 15px;
        }

        a {
            text-decoration: none;
            color: #ffffff;
            font-weight: bold;

            &:hover {
                color: #000000;
            }
        }
    }
}
