$primary-color: #121212;
$light-color: #F5F5DC;
$second-light-color: #4E8CBF;
$second-dark-color: #1C354A;
$without-background: transparent;
$underline:#f2f28a;
$submit-color: #084408;
$second-submit-color: #076604;
// $success-color: ;
// $info-color: #;
$warning-color: #9d1919;


$font-family-sans-serif: 'Roboto', sans-serif;
// $font-family-serif: #;


$width-images-menu: 70%;
