
<app-menu></app-menu>

<div id="content">
  <h1>Update User n°{{ user?.id }}</h1>
</div>

<div *ngIf="message.length > 0" class="error-messages">
  <div *ngFor="let msg of message">{{ msg }}</div>
</div>

<form (ngSubmit)="updateUser()" #updateForm="ngForm">
  <input [(ngModel)]="updatedData.firstname" name="firstname" value="{{ user?.firstname }}" placeholder="{{ user?.firstname }}">
  <input [(ngModel)]="updatedData.lastname" name="lastname" value="{{ user?.lastname }}" placeholder="{{ user?.lastname }}">
  <button type="submit">Update User</button>
</form>

<a routerLink="/users">
  <button>All users</button> 
</a>
<a routerLink="/users/{{ user?.id }}">
  <button>User n°{{ user?.id }}</button>
</a>

<app-footer></app-footer>
