<div class="container">
  <app-menu></app-menu>
</div>

<div class="content h2">
  <h2>Je modifie mes informations (Voyageur n°{{ user?.id }})</h2>
</div>

<div *ngIf="message.length > 0" class="error-messages">
  <div *ngFor="let msg of message">{{ msg }}</div>
</div>

<div class="forms">
  <form (ngSubmit)="updateUser()" #updateForm="ngForm">
    <p>
      Bonjour, vous souhaitez-modifier votre prénom, l'ancien vous a ennuyé ? N'oubliez pas de bien saisir un prénom présent sur votre carte d'identité..; c'est juste ici si vous voulez modifier le prénom :
      <input [(ngModel)]="updatedData.firstname" name="firstname" value="{{ user?.firstname }}" placeholder="{{ user?.firstname }}">
      Super, et vous voulez-modifier votre nom de famille ou tout est bon ? Tout comme le prénom, n'oubliez pas qu'il doit correspondre à celui présent sur votre carte d'identité et passeport ;) Juste ici, si vous modifieé le nom :
      <input [(ngModel)]="updatedData.lastname" name="lastname" value="{{ user?.lastname }}" placeholder="{{ user?.lastname }}">
      Si tout est bon, vour pouvez appuyer juste ici :
      <button type="submit">modifier</button>
      puis patienter encore quelques temps ;)
    </p>
  </form>
</div>

<div class="center">
  <div class="btn">
    <a routerLink="/users">Qui sont en attente ?</a>
    <a routerLink="/users/{{ user?.id }}">Voyageur n°{{ user?.id }}</a>
  </div>
</div>

<app-footer></app-footer>
