<div class="container">
  <app-menu></app-menu>
</div>
<div class="text-sliding">
    <h1>
      <span>Rejoins nous</span>
      <div class="message">
        <div class="word1">Avion</div>
        <div class="word2">Vélo</div>
        <div class="word3">Bateaux</div>
      </div>
    </h1>
  </div>
<section id= "accueil1" class="parallax">
  <div class="bg"></div>
  <div class="container-section">
    <div class="first-div center">
      <h2>Jetez un oeil sur la liste d'attente !</h2>
      <span>Voyageurs en attente - On a du succès !</span>
      <div class="btn"><a routerLink="/users">Découvrir maintenant !</a></div>
    </div>
  </div>
</section>
<section id= "accueil2" class="parallax">
        <div class="bg2"></div>
        <div class="container-section">
            <div class="first-div center">
                <h2>Rejoignez notre liste d'attente !</h2>
                <span>Une liste d'attente - C'est qu'on a du succès !</span>
                <div class="btn"><a routerLink="/createuser">Rejoindre l'aventure !</a></div>
            </div>
        </div>
    </section>
<script src="assets/js/scripts.js"></script>
<app-footer></app-footer>
